<body>
    <div class="jumbotron text-center" style="background-color: white;">
            <h3 style="font-family: 'Roboto', sans-serif; line-height: 48px; font-weight: 500;">Enter Name of County for Infection Numbers</h1>
            <p></p>
            <div class="div-wrapper">
                <form method="POST">
                    <input class="box-shadow" style="border: 2px solid #62AED9; left: 0; width: 236px; height: 40px;" name="county_input" widht="236" height="400" required>
                    <input class="box-shadow" style="right:0;" type="image" name="submit" value="Search" src="static/img/search_button.svg" widht="88" height="40">
                </form>
            </div>
    </div>

    