{% extends "layout.html" %}

{% block content %}
{% include 'partials/search.html' %}
    <div class="container">
      <h4 align="center">
          As of today, {{ county }} County {% if state %} of {{ state }} {% endif %} 
          has <font class="infected">{{ todays_infected }} infected</font> and <font class="infected">{{ todays_deaths }} recorded deaths</font>
      </h4>
      <br>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Infected</th>
                <th>Daily Infections</th>
                <th>Daily Infection Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for i in display_list %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}%</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>  
{% endblock content %}